div.editPost
	h2=userName
	p post content
	form(action="/editPo" method="get")
		input(type="hidden" id="postid" name="postid" value=postID)
		textarea(id="content" name="content" cols="30" rows="10" wrap="virtual") #{postContent}
		input(type="submit" value="submit")