extends layout

block content
	div.left
		if user !== null
			h1 Hello.
			a(href="/") home
			br
			a(href="/profile" class="profile") Profile
			br
			a(href="/logout") Logout
		else
			h1 Welcome.
			br
			a(href="/login") Login
	div.right
		#main.main
			if  user !== null
				include ./showAll.jade

		include ./footer.jade