doctype html
html
    head
        title PassportJS SAML example
        block links
            link(rel='stylesheet', href='/css/bootstrap.css')
            link(rel='stylesheet', href='/css/modify.css')
    body
        div.container
            block content
        script(src='/javascript/jquery-2.1.4.min.js')
        script(src='/javascript/bootstrap.min.js')
        block scripts
